.svg {
    width: 100%;
    margin-top: -1px;
    position: absolute;
  }
  svg path {
    d: path('M258.516 26.2132C133.71 43.9594 33.8653 13.3357 0 0.110161H1449C1410.78 11.0734 1344.59 33 1224.68 33C1074.8 33 998.859 -4.06628 848.98 15.772C699.101 35.6103 604.546 29.3456 509.992 15.772C415.437 2.19845 331.947 15.772 258.516 26.2132Z');
    animation: morph 1s infinite;
    animation-direction: alternate-reverse;
    transform: scale(1.5);
    @media screen and (max-width: $sm) {
      transform: scale(1.5) translateX(-800px);
    }
  }
  @keyframes morph {
    from {
      d: path('M258.516 26.2132C133.71 43.9594 33.8653 13.3357 0 0.110161H1449C1410.78 11.0734 1344.59 33 1224.68 33C1074.8 33 998.859 -4.06628 848.98 15.772C699.101 35.6103 604.546 29.3456 509.992 15.772C415.437 2.19845 331.947 15.772 258.516 26.2132Z');
    }
    to {
      d: path('M258.516 26.2132C133.71 43.9594 38.8653 12.3357 0 0.110161H1449C1410.78 11.0734 1344.59 33 1224.68 33C1074.8 33 998.859 -10.06628 848.98 15.772C699.101 43.6103 604.546 29.3456 509.992 15.772C415.437 2.19845 331.947 19.772 258.516 26.2132Z');
    }
  };
  

.module--bg-color-red {
    background-color: #EC4133;
  }
  .hero {
    @extend .module;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $md) {
      justify-content: flex-start;
      height: 100vh;
    }
  
    &__icon {
      margin-bottom: 30px;
      margin-top: -15px;
    }
    &__title {
      @extend .headline__title;
      font-size: 65px;
      color: white;
      @media screen and (max-width: $lg) {
        font-size: 40px;
        line-height: 47px;
      }
    }
    &__text {
      cursor: default;
      margin-top: 38px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: white;
      line-height: 30px;
      @media screen and (max-width: $sm) {
        margin-top: 22px;
      }
    }
  }