@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
}

.fade-in {
  opacity: 0;
  animation: fadein 0.8s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
    margin-left: -15px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

.br-responsive {
  display: none;
}
@media screen and (max-width: 768px) {
  .br-responsive {
    display: block;
  }
}

.m-team {
  display: flex;
  justify-content: center;
}
.m-team__box {
  padding-top: 133px;
  padding-bottom: 133px;
  width: 1249px;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .m-team__box {
    width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .m-team__box {
    width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .m-team__box {
    width: 768px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .m-team__box {
    width: 576px;
    padding-bottom: 34px;
  }
}
@media screen and (max-width: 576px) {
  .m-team__box {
    width: 100%;
  }
}
.m-team__headline {
  position: relative;
  padding: 6px 26px;
  margin-bottom: 60px;
  display: inline-block;
  color: #161616;
  cursor: default;
}
@media screen and (max-width: 768px) {
  .m-team__headline {
    margin-bottom: 26px;
  }
}
.m-team__headline::before {
  content: "";
  background-color: #E7E7E7;
  height: 42px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  animation: expand 1s;
}
@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .m-team__headline::before {
    height: 26px;
  }
  @keyframes expand {
    0% {
      height: 0;
    }
    100% {
      height: 26px;
    }
  }
}

.headline__subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 18px;
  letter-spacing: 2px;
}
@media screen and (max-width: 992px) {
  .headline__subtitle {
    font-size: 16px;
    margin-bottom: 22px;
  }
}

.headline__title, .m-end__title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  font-size: 75px;
}
@media screen and (max-width: 992px) {
  .headline__title, .m-end__title {
    font-size: 40px;
  }
}

.bolded {
  font-weight: 700;
  font-variation-settings: "wght" 400;
  -webkit-transition: 0.25s ease 0s;
  transition: 0.25s ease 0s;
  animation: bolding 2s;
  animation-fill-mode: forwards;
}
@keyframes bolding {
  0% {
    font-variation-settings: "wght" 400;
  }
  50% {
    font-variation-settings: "wght" 700;
  }
  75% {
    font-variation-settings: "wght" 400;
  }
  100% {
    font-variation-settings: "wght" 700;
  }
}

.m-team__draw {
  width: 268px;
  height: 210px;
  position: absolute;
  right: 0;
  top: 144px;
}
@media screen and (max-width: 992px) {
  .m-team__draw {
    display: none;
  }
}

.slider__item {
  padding-left: 26px;
  padding-right: 26px;
}
.slider__item__img {
  margin: auto auto;
  margin-bottom: 31px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .slider__item__img {
    width: 91%;
  }
}
@media screen and (max-width: 768px) {
  .slider__item__info {
    margin-top: -53px;
  }
}
.slider__item__info__title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .slider__item__info__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
.slider__item__info__subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .slider__item__info__subtitle {
    font-size: 18px;
  }
}

.slick-slide {
  transition: opacity 0.8s, margin-top 0.8s;
}

.slick-dots {
  bottom: -80px;
}
.slick-dots li {
  width: 13px;
  height: 13px;
  margin: 0 4.5px;
}
.slick-dots li button {
  width: 13px;
  height: 13px;
}
.slick-dots li button:before {
  width: 13px;
  height: 13px;
  background-color: #EC4133;
  border-radius: 7px;
  content: "";
  transition: width 0.3s;
}
.slick-dots li.slick-active {
  width: 26px;
}
.slick-dots li.slick-active button {
  width: 26px;
}
.slick-dots li.slick-active button:before {
  transition: width 0.5s;
  opacity: 1;
  width: 26px;
  height: 13px;
  background-color: #EC4133;
  border-radius: 7px;
  content: "";
}

.slick-next,
.slick-prev,
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  z-index: 99;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 1px solid #A8A8A8;
  background-color: #f8f8f8;
  background-image: url("arrow.svg");
  background-position: center;
  background-size: 9px;
  background-repeat: no-repeat;
  transform-origin: 50% 25%;
}
.slick-next::before,
.slick-prev::before,
.slick-prev:hover::before,
.slick-prev:focus::before,
.slick-next:hover::before,
.slick-next:focus::before {
  content: "";
}
@media screen and (max-width: 576px) {
  .slick-next,
.slick-prev,
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    top: 42%;
  }
}

.slick-next {
  transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  .slick-next {
    right: 8%;
  }
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: 9%;
  }
}

.m-end, .m-end__box {
  display: flex;
  justify-content: center;
}
.m-end__box {
  padding-top: 133px;
  padding-bottom: 133px;
  width: 1249px;
  position: relative;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .m-end__box {
    width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .m-end__box {
    width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .m-end__box {
    width: 768px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .m-end__box {
    width: 576px;
    padding-bottom: 34px;
  }
}
@media screen and (max-width: 576px) {
  .m-end__box {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .m-end__box {
    justify-content: flex-start;
    height: 100vh;
  }
}
.m-end__icon {
  margin-bottom: 30px;
  margin-top: -15px;
}
.m-end__title {
  font-size: 65px;
  color: white;
}
@media screen and (max-width: 992px) {
  .m-end__title {
    font-size: 40px;
    line-height: 47px;
  }
}
.m-end__text {
  cursor: default;
  margin-top: 38px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  line-height: 30px;
}
@media screen and (max-width: 576px) {
  .m-end__text {
    margin-top: 22px;
  }
}

.module--bg-color-red {
  background-color: #EC4133;
}

.svg {
  width: 100%;
  margin-top: -1px;
  position: absolute;
}

svg path {
  d: path("M258.516 26.2132C133.71 43.9594 33.8653 13.3357 0 0.110161H1449C1410.78 11.0734 1344.59 33 1224.68 33C1074.8 33 998.859 -4.06628 848.98 15.772C699.101 35.6103 604.546 29.3456 509.992 15.772C415.437 2.19845 331.947 15.772 258.516 26.2132Z");
  animation: morph 1s infinite;
  animation-direction: alternate-reverse;
  transform: scale(1.5);
}
@media screen and (max-width: 576px) {
  svg path {
    transform: scale(1.5) translateX(-800px);
  }
}

@keyframes morph {
  from {
    d: path("M258.516 26.2132C133.71 43.9594 33.8653 13.3357 0 0.110161H1449C1410.78 11.0734 1344.59 33 1224.68 33C1074.8 33 998.859 -4.06628 848.98 15.772C699.101 35.6103 604.546 29.3456 509.992 15.772C415.437 2.19845 331.947 15.772 258.516 26.2132Z");
  }
  to {
    d: path("M258.516 26.2132C133.71 43.9594 38.8653 12.3357 0 0.110161H1449C1410.78 11.0734 1344.59 33 1224.68 33C1074.8 33 998.859 -10.06628 848.98 15.772C699.101 43.6103 604.546 29.3456 509.992 15.772C415.437 2.19845 331.947 19.772 258.516 26.2132Z");
  }
}

/*# sourceMappingURL=style.css.map */
